# Exclude the massive git history
.git
.gitignore

# Exclude local environments
venv/
.venv/
__pycache__/
node_modules/
*.pyc
cache/

# Exclude build artifacts and logs
*.log
*.sqlite3
.vscode/
.idea/

# Exclude Docker files themselves
Dockerfile
.dockerignore
docker-compose*
Dockerfile.local
app/cache
