fastapi[all]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic-settings
pyjwt
fastapi-mail
requests
httpx
stripe
google-genai
google-auth
twilio
openpyxl
python-docx
pdfminer.six
pytesseract
pdf2image
Pillow
google-cloud-vision
PyPDF2
pycountry
