fastapi[all]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic-settings
pyjwt
fastapi-mail
requests
stripe
# google-genai
# google-auth

google-genai>=2.6.0
google-auth>=2.0.0